<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 31.03.2018, 12:24</p>
            <h2><em><a href="">My first post</a></em></h2>
            <p>Its the very last day of the month March and we are all looking forward to the ressurection of the lord and that is tomorrow.it has been long overdue since we last ate meat and all we can say is yikes!!!!!!!As Beyonce says At LLLLLLLLAAAAASSSSTTTT.</p>
        </div>

        <div>
            <p>published: 31.03.2018, 12:24</p>
            <h2><em><a href="">My second post</a></em></h2>
            <p>Hoping it doesn't rain tomorrow since it always does on Easter days,my family and i are planning on going to church tomorrow.Many christians tend to remember to go to pray only on Big days so my only worry is that,hopefully we will be able to get seats at church and not have to stand in the Sun untill the mass is done!</p>
        </div>
    </body>
</html>